.player1 {
    background-color: transparent;
    width: 320px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 93%;
    transform: translate(-50%, -50%);
}
.player1_tile {
    width: 40px;
    height: 60px;
    margin-right: 5px;
    border-color: black;
}
.player1_blocked {
    background-color: #36454F;
    text-align: center;
    border-radius: 5px;
    color: white;
    width: 70px;
    height: 30px;
    position: absolute;
    left: 70%;
    top: 93%;
    transform: translate(-50%, -50%);
    transition: all 1s;
}
.player1_isHand {
    height: 20px;
    width: 20px;
    background: #FFA200;
    border-radius: 50%;
    display: inline-block;
    top: 92%;
    left: 35%;
    position: absolute;
}
/* END OF PLAYER 1 */
.player2 {
    background-color: transparent;
    width: 250px;
    height: 50px;
    position: absolute;
    left: 97%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}
.player2_tile{
    width: 30px;
    height: 50px;
    margin-right: 5px;
}
.player2_blocked {
    background-color: #36454F;
    text-align: center;
    border-radius: 5px;
    color: white;
    width: 70px;
    height: 30px;
    position: absolute;
    left: 97%;
    top: 25%;
    transform: translate(-50%, -50%);
    transition: all 1s;
}
.player2_isHand {
    height: 20px;
    width: 20px;
    background: #FFA200;
    border-radius: 50%;
    display: inline-block;
    top: 29%;
    left: 96%;
    position: absolute;
}
/* END OF PLAYER 2 */
.player2 {
    background-color: transparent;
    width: 250px;
    height: 50px;
    position: absolute;
    left: 97%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}
.player_tile{
    width: 30px;
    height: 50px;
    margin-right: 5px;
}
.player2_blocked {
    background-color: #36454F;
    text-align: center;
    border-radius: 5px;
    color: white;
    width: 70px;
    height: 30px;
    position: absolute;
    left: 97%;
    top: 25%;
    transform: translate(-50%, -50%);
    transition: all 1s;
}
.player2_isHand {
    height: 20px;
    width: 20px;
    background: #FFA200;
    border-radius: 50%;
    display: inline-block;
    top: 29%;
    left: 96%;
    position: absolute;
}
/* END OF PLAYER 2 */
.player3 {
    background-color: transparent;
    width: 250px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
}

.player3_blocked {
    background-color: #36454F;
    text-align: center;
    border-radius: 5px;
    color: white;
    width: 70px;
    height: 30px;
    position: absolute;
    left: 65%;
    top: 5%;
    transform: translate(-50%, -50%);
    transition: all 1s;
}
.player3_isHand {
    height: 20px;
    width: 20px;
    background: #FFA200;
    border-radius: 50%;
    display: inline-block;
    top: 4%;
    left: 37%;
    position: absolute;
}
/* END OF PLAYER 4 */
.player4 {
    background-color: transparent;
    width: 250px;
    height: 50px;
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}
.player4_blocked {
    background-color: #36454F;
    text-align: center;
    border-radius: 5px;
    color: white;
    width: 70px;
    height: 30px;
    position: absolute;
    left: 3%;
    top: 25%;
    transform: translate(-50%, -50%);
    transition: all 1s;
}
.player4_isHand {
    height: 20px;
    width: 20px;
    background: #FFA200;
    border-radius: 50%;
    display: inline-block;
    top: 30%;
    left: 2%;
    position: absolute;
}